.controllBtn {
  margin-left: 10px;
  margin-top: 30px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.prev {
  padding: 15px;
  border: 0.5px solid black;
  border-radius: 50px !important;
  width: 200px;
  background: white;
  color: black;
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
  height: 55px;
  font-family: "Poppins", sans-serif;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
}

.prev:hover {
  background: linear-gradient(to right, #16133d, #6357a5);
  color: white;
}

.sub {
  padding: 15px;
  border: 0.5px solid black;
  border-radius: 50px;
  width: 200px;
  background: white;
  color: black;
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  margin-top: auto;
}

.controllBtn .sub:hover {
  background: linear-gradient(to right, #16133d, #6357a5);
  color: white;
}

.opts:hover {
  background-color: #12192a !important;
  color: white;
}

.custom-box {
  min-height: 30vh !important;
}

/* Hover effect */
.custom-box:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .wrap {
    height: 100vh !important;
    max-width: 100vw !important;
    overflow-x: hidden !important;
  }

  .main {
    width: 80vw !important;
    max-width: 80vw !important;
  }

  .quest {
    width: 75vw !important;
    max-width: 75vw !important;
  }

  .riy {
    width: 75vw !important;
    max-width: 75vw !important;
  }

  .swotBox {
    display: flex;
    flex-direction: column !important;
  }

  .custom-box {
    width: 70vw !important;
    overflow-x: hidden;
  }

  .formm {
    display: flex;
    flex-direction: column !important;
  }

}